body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

.navbar {
    background-color: rgba(51, 51, 51, 0.8); /* Slightly transparent */
    padding: 1rem;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navbar ul li a:hover {
    background-color: #555;
}

.content {
    padding: 3rem;
    margin-top: 50px;
}

h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.footer {
    background-color: rgba(51, 51, 51, 0.8); /* Same transparency as navbar */
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer p {
    margin: 0;
    color: white;
    font-size: 0.9rem;
}

